<ion-view view-title="About IVF Streamline Codes">
    <ion-content>
        <div class="list list-inset">
            <div align="center" padding-top>
                <img src="img/Slade.jpg">
            </div>

            <div class="item item-divider item-dark">
                <b>About this App</b>
            </div>
            <div class="item item-inset item-text-wrap">
                IVF Streamliner was developed by Slade Pharmacy to provide IVF specialists easy, mobile access to IVF prescribing data. For feature requests or bug reports, please email <a href="mailto:john.evans@slade.net.au?subject=Slade IVF App Feedback">John Evans</a>
            </div>

            <div class="item item-divider item-dark">
                <b>Speak to a Pharmacist</b>
            </div>
            <div class="item item-inset item-text-wrap">
                Slade Pharmacy at 89 Bridge Rd, Richmond is open 8.00am-10.00pm seven days a week, 365 days a year. To speak to one our or pharmacists about any medication matter, clickk the call button below
                <br>
                <br>
                <p align="center"> <a class="button icon-left ion-ios7-telephone button-positive button-outline" align="center" ng-href="tel: 0384200700">(03) 8420 0700</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
