<ion-view view-title="PBS Details">
    <ion-content class="padding">
        <div class="list list-inset">
            <div class="item item-divider item-dark">
                <b>{{ code.drugName}} {{code.strength}}</b>
            </div>
            <div class="item item-text-wrap">
                <b>Streamline Authority Code</b>: {{ code.streamline }}
                <br>
                <b>PBS Code</b>: {{ code.pbsCode}}
                <br>
                <b>Max. Qty</b>: {{ code.Qty}}
                <br>
                <b>Max. Repeats</b>: {{ code.Repeats}}
                <br>
                <b>PBS Criteria</b>: {{ code.Criteria}}
            </div>

        </div>
    </ion-content>
</ion-view>
