<ion-view view-title="IVF Streamline Codes">

    <ion-content>

        <div>
            <div class="item-inset item-divider item-stable" align="center">
                Instructions
            </div>
            <div class="item inset item-text-wrap">
                <h2>To look up streamlined authority codes for IVF drugs clicks the Search by Drug button below. <br> <br>From the list of drugs tap the drug to show full PBS details</h2>
            </div>
        </div>
        <a class="button button block button-positive" href="#/tab/codes">Search
      by Drug</a>

        <div align="center" padding-top="50">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h5>Brought to you by</h5>
            <img src="img/Slade.jpg">
        </div>


    </ion-content>
</ion-view>
